<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <title>Home Page</title>
    <style>

        .box1 {
            width: 1000px;
        }

        .logo {
            width:100px; 
            height:100px;
            vertical-align:top;
        }

        #background {
            width: 1140px;
            height: 638px;
            background-image: url('/assets/facade.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: contain;
            opacity: .3;
            position: fixed;
            z-index: -1;
            
        }

    </style>
</head>
<body>
    
        <div class="container ">
        <img src="/assets/facade.jpg" id="background">
                <img class="d-inline-block logo" src="/assets/logo2.png" alt="logo">
                <div class="container d-inline-block box1">
                    <h1 class="d-inline-block">Welcome to the Barber Shop!</h1>
                    
                    <h3 class="d-inline-block"> Log in and debate with other diehard fans on your favorite sports topics!</h3>
                </div>

                <h3> About Us: </h3>

                <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>

                
                <a class="btn btn-success" href="/login">Login</a>
                <a class="btn btn-success" href="/register">Register</a>
        </div>
    

</body>
</html>